# Force Sharp to only download Linux x64 binaries (for Netlify)
sharp_binary_host="https://github.com/lovell/sharp-libvips/releases/download"
sharp_libvips_binary_host="https://github.com/lovell/sharp-libvips/releases/download"

# Disable optional dependencies during production builds
optional=false

# Use hard links instead of copying files
package-import-method=hardlink
